@model UpdateProductVM

@{
    ProductImage main = Model.Images.FirstOrDefault(x => x.IsPrimary == true);
    ProductImage hover = Model.Images.FirstOrDefault(x => x.IsPrimary == false);
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Product</h4>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <img style="width:150px; height:150px" src="~/assets/images/website-images/@main.ImageUrl" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MainPhoto">MainPhoto</label>
                                <input asp-for="MainPhoto" class="form-control" placeholder="MainPhoto">
                                <span class="text-danger" asp-validation-for="MainPhoto"></span>
                            </div>
                            <div class="form-group">
                                <img style="width:150px; height:150px" src="~/assets/images/website-images/@hover.ImageUrl" />
                            </div>
                            <div class="form-group">
                                <label for="HoverPhoto">HoverPhoto</label>
                                <input asp-for="HoverPhoto" class="form-control" placeholder="HoverPhoto">
                                <span class="text-danger" asp-validation-for="HoverPhoto"></span>
                            </div>
                            <div style="display: flex" class="form-group">
                                @foreach (ProductImage img in Model.Images.Where(x => x.IsPrimary == null))
                                {
                                    <div style="position: relative; margin-left: 30px">
                                        <img style="width:150px; height:150px" src="~/assets/images/website-images/@img.ImageUrl" />
                                        <input type="hidden" asp-for="ImageIds" value="@img.Id" class="form-control">
                                        <button style="position: absolute; border: 0px; background-color: white"><i id="imgclearbtn" class="fa-solid fa-circle-xmark"></i></button>
                                    </div>
                                }
                            </div>
                            <div class="form-group">
                                <label for="Photos">More Photos</label>
                                <input asp-for="Photos" class="form-control" placeholder="Photos">
                                <span class="text-danger" asp-validation-for="Photos"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputName1">Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label for="Price">Price</label>
                                <input asp-for="Price" class="form-control" placeholder="Price">
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>
                            <div class="form-group">
                                <label for="SKU">SKU</label>
                                <input asp-for="SKU" class="form-control" placeholder="SKU">
                                <span class="text-danger" asp-validation-for="SKU"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategoryId">Category</label>
                                <select class="form-control" asp-for="CategoryId" asp-items="new SelectList(Model.Categories,nameof(Category.Id), nameof(Category.Name))">
                                    <option disabled selected>Choose Category</option>
                                </select>
                                @* <select class="form-control" asp-for="CategoryId">
                                <option disabled selected>Choose Category</option>
                                @foreach (Category ctg in Model.Categories)
                                {
                                <option value="@ctg.Id">@ctg.Name</option>
                                }
                                </select> *@
                                <span class="text-danger" asp-validation-for="CategoryId"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ColorIds">Color</label>
                                <select class="form-control" asp-for="ColorIds" asp-items="new SelectList(Model.Colors,nameof(Color.Id), nameof(Color.Name))">
                                </select>
                                <span class="text-danger" asp-validation-for="ColorIds"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SizeIds">Size</label>
                                <select class="form-control" asp-for="SizeIds" asp-items="new SelectList(Model.Sizes,nameof(Size.Id), nameof(Size.Name))">
                                </select>
                                <span class="text-danger" asp-validation-for="SizeIds"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TagIds">Tags</label>
                                <select class="form-control" asp-for="TagIds" asp-items="new SelectList(Model.Tags,nameof(Tag.Id), nameof(Tag.Name))">
                                </select>
                                <span class="text-danger" asp-validation-for="TagIds"></span>
                            </div>
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <input asp-for="Description" class="form-control" placeholder="Description">
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section RemoveImage{
    <script>

        var btns = document.querySelectorAll("#imgclearbtn")

        for (let i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                btns[i].parentElement.parentElement.remove()
            })
        }

    </script>

}